<div class="finBanner">
  <h1>Finance</h1>
</div>
<div class="finance">
  <div class="finHalf floatLeft">
    <img src="{{url_for('static', filename='img/cash.jpg')}}" alt="">
    <h3>We run on a leasing model <br>So Farmers are as <span>financially flexible</span> as possible and <span>Keep More of Their Money.</span></h3>
    <ul>
      <li>Only <span class="boldSpan">₹845</span> per month</li>
      <li><span class="boldSpan">₹0</span> joining fee</li>
      <li>Cancel at <span class="boldSpan">Anytime</span> - ₹0 cancellation fee</li>
      <li>SMS payment so AgriPod works for <span class="boldSpan">Every Farmer</span></li>
    </ul>
  </div>
  <div class="finHalf floatRight">
    <img src="{{url_for('static', filename='img/profit.png')}}" alt="">
    <h3>AgriPod increases fertiliser efficiency<br> so Farmers <span>Earn More</span> while <span>Spending Less.</span></h3>
    <ul>
      <li>AgriPod could increase fertiliser efficiency <span class="boldSpan">up to 80%</span></li>
      <li>But, the AgriPod only needs to increase fertiliser efficiency up to 70% to have a huge effect: </li>
      <li class="indentLI">At the lowest possible crop prices, The AgriPod leads to a <span class="boldSpan">₹31,047 increase in revenue</span></li>
      <li class="indentLI">That means <span class="boldSpan">12% more profit</span> for the average farmer</li>
    </ul>
  </div>
