<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Agripod</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='logo/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='logo/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='logo/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static',filename='logo/site.webmanifest')}}">
  </head>
  <body onload="direct()">

  </body>
  <script type="text/javascript">
    function direct() {
      ratio = screen.width/screen.height;
      if(ratio < 1){
        window.location.assign("https://www.agripod.co.uk/mobile")
      }else{
        window.location.assign("https://www.agripod.co.uk/desktop/")
      }
    }
  </script>
</html>
