<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AgriPod</title>
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/mobile.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">

	<link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='logo/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='logo/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='logo/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static',filename='logo/site.webmanifest')}}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
	<div class="section" id="one">
		<header>
			<img id="headerLogo" src="{{url_for('static', filename='img/agripodLogoBlack.png')}}">
		</header>
		<div id="welcomePage">
			<h1 id="title">
				Tackling Fertiliser <br> Misapplication.
			</h1>
			<p id="brief">
				AgriPod advises farmers on the optimal times to apply fertiliser, based on real-time soil conditions.
			</p>
			<button id="regIntBtn">
				Register Interest
			</button>
		</div>
	</div>
	<div class="section" id="two">
		<div class="third" id="awardContainer">
			<button type="button" name="button" class="arrow left" onclick="changeSlide('award', -1)"></button>

			<button type="button" name="button" class="arrow right" onclick="changeSlide('award', 1)"></button>
			<div class="award shown">
				<div class="titleContainer">
					<p class="title">First Place</p>
				</div>
				<div class="imgContainer">
					<img src="{{url_for('static', filename='img/siemens.jpg')}}" alt="" class="pic">
				</div>
				<h3>Siemens Digital Decarbonisation Award</h3>
			</div>
			<div class="award hidden" id="bigbang">
				<div class="leftSection">
					<h1 class="title">Runners Up</h1>
					<h4 class="subtitle">Big Bang<br>Senior Engineering</h4>
				</div>
				<div class="rightSection">
					<img src="{{url_for('static', filename='img/bigbang.jpg')}}" alt="">
				</div>
			</div>
			<div class="award hidden" id="teentech">
				<div class="titleContainer">
					<p class="title">Winners</p>
				</div>
				<div class="imgContainer">
					<img src="{{url_for('static', filename='img/teentech.webp')}}" alt="" class="pic">
				</div>
				<h3>TeenTech Overall Best Innovation</h3>
			</div>
		</div>

		<div class="line"></div>
		<div class="third">
			<div class="problem">
				<h1>The Problem</h1>
				<div class="paraContainer">
					<p>Farmers know roughly when to apply fertiliser, but lack the equipment to ascertain the exact conditions in their soil.</p>
				</div>

			</div>
		</div>
		<div class="blackBox">

		</div>
		<div class="line"></div>
		<div class="third statContainer">
			<button type="button" name="button" class="arrow left" onclick="changeSlide('stat', -1)"></button>

			<button type="button" name="button" class="arrow right" onclick="changeSlide('stat', 1)"></button>
			<div class="stat shown">
				<p class="number">18%</p>
				<p class="desc">Of global fertiliser <strong>pollution</strong> <br id="statBreak">due to India.</p>
			</div>
			<div class="stat hidden">
				<p class="number">150M</p>
				<p class="desc">Tonnes of fertiliser produced <strong>globally</strong>.</p>
			</div>
			<div class="stat hidden">
				<p class="number">75M</p>
				<p class="desc">Tonnes wasted due to <strong>inefficient</strong>	farming.</p>
			</div>
			<div class="stat hidden">
				<p class="number">65%</p>
				<p class="desc">Of fertiliser <strong>not absorbed</strong> by soil.</p>
			</div>
			<div class="stat hidden">
				<p class="number">500M</p>
				<p class="desc">Tonnes of CO2 emitted in Ammonia production annually.</p>
			</div>
		</div>
	</div>
	<div class="section" id="three">
		<h1 id="sectionTitle">Design</h1>
		<div class="subcontainer">
			<button type="button" name="button" class="designBtn" id="btnOne" onClick="designClick(1)"></button>
			<button type="button" name="button" class="designBtn" id="btnTwo" onClick="designClick(2)"></button>
			<button type="button" name="button" class="designBtn" id="btnThree" onClick="designClick(3)"></button>
			<button type="button" name="button" class="designBtn" id="btnFour" onClick="designClick(4)"></button>
		</div>
		<div class="designElement hidden">
			<div class="header">
				<h1 class="title"> <span class="letter" style="text-decoration:none;">A.</span> <span class="word">Enclosure</span></h1>
				<span onclick="closeSlide(1)"><img src="{{url_for('static', filename='img/x-icon.png')}}" alt="" class="closeIcon" ></span>
			</div>
			<div class="content">
				<h1 class="subtitle">Waterproof, Weatherproof and Repairable</h1>
				<p class="para">Made out of sustainable PLA, the plastic enclosure uses a double-screw mechanism to allow easy repair and maintainance.
					<br><br>
					Designed to withstand the range of conditions and temperatures the AgriPod will encounter, the enclosure uses two shells to ensure easy repairability in case of any damage.  </p>
			</div>

		</div>
		<div class="designElement hidden">
			<div class="header">
				<h1 class="title"> <span class="letter" style="text-decoration:none;">B.</span> <span class="word">Electronics</span></h1>
				<span onclick="closeSlide(2)"><img src="{{url_for('static', filename='img/x-icon.png')}}" alt="" class="closeIcon" ></span>
			</div>
			<div class="content">
				<h1 class="subtitle">Accurate and Reliable</h1>
				<p class="para">AgriPod uses custom PCBs, designed in house and manufactured by one of the world’s leading PCB manufacturers.<br><br>The board features easy troubleshooting in the field via UART and emergency charging via USB. All data is backed up onto an SD card in case of sudden power loss.<br><br>Combining multiple layers of battery safety in both hardware and software, AgriPod can adjust sampling and transmission frequency to maximise battery life.<br><br>The Agripod measures soil humidity, temperature, air humidity which we combine with weather data in our algorithm.  </p>
			</div>

		</div>
		<div class="designElement hidden">
			<div class="header">
				<h1 class="title"> <span class="letter" style="text-decoration:none;">C.</span> <span class="word">Network</span></h1>
				<span onclick="closeSlide(3)"><img src="{{url_for('static', filename='img/x-icon.png')}}" alt="" class="closeIcon" ></span>
			</div>
			<div class="content">
				<h1 class="subtitle">Inter-device Communication</h1>
				<p class="para">Each standard AgriPod is capable of Wi-Fi communication at a range of several 100 meters. The pods form a mesh network, forwarding data through each other. Ultimately, the data is funnelled to an AgriPod which has an LTE module and  is sent to our servers, hosted in the cloud.<br><br>  Each AgriPod recieves information from the server and looks at the data it has gathered, to decide on how often to sample and transmit data.</p>
			</div>

		</div>
		<div class="designElement hidden">
			<div class="header">
				<h1 class="title"> <span class="letter" style="text-decoration:none;">D.</span> <span class="word">Algorithm</span></h1>
				<span onclick="closeSlide(4)"><img src="{{url_for('static', filename='img/x-icon.png')}}" alt="" class="closeIcon" ></span>
			</div>
			<div class="content">
				<h1 class="subtitle">Algorithm</h1>
				<p class="para">
					The algorithm has been developed in contact with professors and researchers from Oxford University, Bangor University and Durham University. 
<br><br>Currently, the algorithm will map out and predict optimum fertiliser values, providing a recommended fertilising window (typically a few days) based on crop type. After gathering a large dataset comparative effects, we plan to train neural networks which can find patterns we have not yet considered.
				</p>
			</div>

		</div>
	</div>

	<div class="section" id="four">

	</div>

</body>
	<script type="text/javascript">

		// functions to hide/show elements
		function hide(el){
			el.classList.remove("shown");
			el.classList.add("hidden");
		}
		function show(el){
			el.classList.add("shown");
			el.classList.remove("hidden");
		}
		// keeps track of slide number for all 3 slideshows
		var slideCounter = {
			'award' : 0,
			'stat': 0,
			'member': 0
		};

		function changeSlide(className, direction){
			// className is the class name of each slide
			// direction is an int where -1 represents left and +1 represents right
			currSlideNum = slideCounter[className];
			nextSlideNum = currSlideNum + direction;
			slides = document.getElementsByClassName(className);

			if(nextSlideNum > slides.length - 1) nextSlideNum = 0;
			else if(nextSlideNum < 0) nextSlideNum = slides.length-1;

			currSlide = slides[currSlideNum];
			nextSlide = slides[nextSlideNum];
			hide(currSlide);
			show(nextSlide);
			slideCounter[className] = nextSlideNum;
		}

		// opens design text
		function designClick(btnNum){
			btnNum -= 1;
			designElements = document.getElementsByClassName("designElement")
			el = designElements[btnNum];
			show(el);
		}

		// closes design text
		function closeSlide(slideNum){
			slideNum -=1;
			designElements = document.getElementsByClassName("designElement")
			el = designElements[slideNum];
			hide(el);
		}


	</script>
</html>
